@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}

*:not(i) {
  font-family: "Rubik", sans-serif !important;
}

.ltr {
  direction: ltr !important;
}

.translate-y-custom {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.translate-y-custom-10 {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.translate-y-custom-20 {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.translate-y-custom-30 {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.translate-y-custom-40 {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.translate-y-custom-50 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.translate-y-custom-60 {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.translate-y-custom-70 {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.translate-y-custom-80 {
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}

.translate-y-custom-90 {
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
}

.translate-y-custom-100 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.translate-y-custom-110 {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.translate-y-custom-120 {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.translate-y-custom-130 {
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
}

.translate-y-custom-140 {
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.translate-y-custom-150 {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.translate-y-custom-160 {
  -webkit-transform: translateY(-160%);
          transform: translateY(-160%);
}

.translate-y-custom-170 {
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
}

.translate-y-custom-180 {
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
}

.translate-y-custom-190 {
  -webkit-transform: translateY(-190%);
          transform: translateY(-190%);
}

.translate-y-custom-200 {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.ul-style-V {
  list-style: url("/assets/imgs/check.svg");
}

.hover-clr:hover {
  color: #ff7b00 !important;
}

.bg-primary {
  background: #ff7b00 !important;
  border: 2px solid transparent !important;
}

.bg-clr-hover {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.bg-clr-hover:hover {
  background: transparent !important;
  border: 2px solid #ff7b00 !important;
}

.clr-hover {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.clr-hover:hover {
  color: #da6900 !important;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.color {
  color: #ff7b00;
}

.break {
  height: 5px;
  width: 100%;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.zindex-overall {
  z-index: 10000000;
}

.calc-result {
  background: rgba(0, 0, 0, 0.95);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.calculator-page-title {
  background-color: #ff7b00;
}

.calc-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 8rem;
  padding-left: 8rem;
  cursor: pointer;
  border: 2px solid #32383d;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.calc-btn:hover {
  background: #32383d;
  border-color: white;
  color: white;
}

.t-origin-end {
  -webkit-transform-origin: right top !important;
          transform-origin: right top !important;
}

.main-calculator-page label {
  font-size: 0.9rem;
}

.main-calculator-page .result-container {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.main-calculator-page .result-container * {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

.main-calculator-page .result-container .box {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.main-calculator-page .result-container .form-item {
  -webkit-transition: background 150ms ease;
  transition: background 150ms ease;
}

.main-calculator-page .result-container .form-item:hover {
  background-color: #32383d;
}

.main-calculator-page .result-container.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.main-calculator-page .result-container.open .box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.error-msg {
  opacity: 0;
  -webkit-transition: 350ms ease !important;
  transition: 350ms ease !important;
}

.error-msg.show {
  opacity: 1;
}

input.is-invalid {
  border: 1.75px solid red !important;
}

.date-input {
  -webkit-box-shadow: 0 0 0 0rem white !important;
          box-shadow: 0 0 0 0rem white !important;
}

header .contact-bar {
  background-color: #32383d;
}

@media screen and (max-width: 500px) {
  header .contact-bar .desktop-show {
    display: none;
  }
}

header nav .nav-link:hover {
  color: #ff7b00 !important;
}

header nav .dropdown-menu .dropdown-item:hover {
  background-color: #32383d;
}

main .hero-container {
  background: url("/assets/imgs/landing-page-bg.png");
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 520px) {
  main .hero-container {
    background-size: auto 100%;
    background-color: rgba(0, 0, 0, 0.825);
    background-attachment: unset;
  }
}

main .hero-container #hero-section {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

main .hero-container #hero-section h1 {
  font-size: 4rem;
}

main .hero-container #hero-section h1 .sub-heading {
  font-size: 0.4em;
}

main .hero-container #hero-section .main-text ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main .hero-container #hero-section button.cta {
  background: #ff7b00;
  outline: none;
  border-color: transparent;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

main .hero-container #hero-section button.cta:hover {
  border-color: #ff7b00;
  background: transparent;
  color: #ff7b00 !important;
}

main #inline-text-section {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#b0c3d6));
  background: linear-gradient(to top, #ffffff 0%, #b0c3d6 100%);
}

main #who-we-are img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

@media screen and (max-width: 520px) {
  main #who-we-are img {
    max-width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 350px) {
  main #who-we-are img {
    max-width: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width: 300px) {
  main #who-we-are img {
    max-width: 220px;
    max-height: 220px;
  }
}

main #services .services-box .card {
  cursor: pointer;
  border-color: #ff7b00;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 !important;
}

@media screen and (min-width: 700px) {
  main #services .services-box .card {
    max-width: 50%;
  }
}

main #services .services-box .card .card-img-top {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 992px) {
  main #services .services-box .card .card-img-top {
    width: 100px;
    height: 100px;
  }
}

main #services .services-box .card i {
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

main #services .services-box .card .card-text {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 400ms ease-in-out;
  transition: height 400ms ease-in-out;
}

main #services .services-box .card i {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

main .testimonials {
  padding: 5rem 9.375rem;
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: linear-gradient(white 10px, #cadbec 100%);
}

main .testimonials p {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 79.5625rem) {
  main .testimonials {
    padding: 5rem 6.25rem;
  }
}

@media screen and (max-width: 73.3125rem) {
  main .testimonials {
    padding: 5rem 3.125rem;
  }
}

@media screen and (max-width: 35rem) {
  main .testimonials {
    padding: 3.125rem 1.5625rem;
  }
}

@media screen and (max-width: 28.125rem) {
  main .testimonials {
    padding: 3.125rem 0.9375rem;
  }
}

@media screen and (max-width: 23.125rem) {
  main .testimonials {
    padding: 3.125rem 0.625rem;
  }
}

main .testimonials__header {
  font-size: 2.8125rem;
  margin-bottom: 1.875rem;
}

@media screen and (max-width: 46.875rem) {
  main .testimonials__header {
    font-size: 2.375rem;
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 40.625rem) {
  main .testimonials__header {
    text-align: center;
  }
}

@media screen and (max-width: 38.75rem) {
  main .testimonials__header {
    font-size: 2.125rem;
  }
}

@media screen and (max-width: 32.5rem) {
  main .testimonials__header {
    font-size: 1.875rem;
  }
}

main .testimonials .quote-mark {
  position: relative;
  width: 3.75rem;
  height: auto;
  margin-bottom: 1.875rem;
}

@media screen and (max-width: 50rem) {
  main .testimonials .quote-mark {
    width: 3.125rem;
  }
}

@media screen and (max-width: 37.5rem) {
  main .testimonials .quote-mark {
    width: 2.5rem;
  }
}

main .testimonials .quote-mark::before, main .testimonials .quote-mark::after {
  content: "";
  position: absolute;
  width: 25vw;
  height: 0.25rem;
  top: 50%;
  border-radius: 1.875rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 50rem) {
  main .testimonials .quote-mark::before, main .testimonials .quote-mark::after {
    width: 30vw;
  }
}

@media screen and (max-width: 37.5rem) {
  main .testimonials .quote-mark::before, main .testimonials .quote-mark::after {
    width: 35vw;
  }
}

main .testimonials .quote-mark::before {
  left: 150%;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, black), to(transparent));
  background: linear-gradient(to right, black 70%, transparent);
}

main .testimonials .quote-mark::after {
  right: 150%;
  background: -webkit-gradient(linear, right top, left top, color-stop(70%, black), to(transparent));
  background: linear-gradient(to left, black 70%, transparent);
}

main .testimonials .quote-mark img {
  width: 100%;
  height: 100%;
}

main .testimonials__view {
  position: relative;
  width: 60vw;
  border-radius: 0.9375rem;
  padding: 3.75rem 2.5rem;
  -webkit-box-shadow: 0.125rem 0.25rem 0.625rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.125rem 0.25rem 0.625rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: white;
}

@media screen and (max-width: 68.75rem) {
  main .testimonials__view {
    width: 72.5vw;
  }
}

@media screen and (max-width: 50rem) {
  main .testimonials__view {
    width: 80vw;
  }
}

@media screen and (max-width: 37.5rem) {
  main .testimonials__view {
    width: 90vw;
    padding: 2.5rem 1.66625rem;
  }
}

main .testimonials__view__btns {
  position: absolute;
  left: 50%;
  bottom: 1.25rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: inherit;
  z-index: 1000;
  width: 8.75rem;
}

main .testimonials__view__btns i {
  font-size: 1.75rem;
  cursor: pointer;
  padding: 0 0.625rem;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main .testimonials__view__btns i:hover {
  opacity: 1;
}

main .testimonials__view__btns i:first-child {
  margin-left: 3.75rem;
}

main .testimonials__view .testimonials-wrapper {
  position: relative;
  width: 500%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0%;
  -webkit-transition: all 0.75s cubic-bezier(0.72, 0, 0.4, 1.38);
  transition: all 0.75s cubic-bezier(0.72, 0, 0.4, 1.38);
}

main .testimonials__view .testimonials-wrapper.no-tran {
  -webkit-transition: all 0s;
  transition: all 0s;
}

main .testimonials__view .testimonials-wrapper .testimonial {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 0;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

main .testimonials__view .testimonials-wrapper .testimonial.active {
  opacity: 1;
  -webkit-transition: all 1.25s ease-in-out;
  transition: all 1.25s ease-in-out;
}

main .testimonials__view .testimonials-wrapper .testimonial__header {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
}

@media screen and (max-width: 53.125rem) {
  main .testimonials__view .testimonials-wrapper .testimonial__header {
    font-size: 1.6875rem;
  }
}

@media screen and (max-width: 40.625rem) {
  main .testimonials__view .testimonials-wrapper .testimonial__header {
    font-size: 1.51875rem;
    text-align: center;
    margin-bottom: 1.5625rem;
  }
}

main .testimonials__view .testimonials-wrapper .testimonial__content {
  font-size: 1.5rem;
  line-height: 1.25em;
  margin-bottom: 0.9375rem;
}

@media screen and (max-width: 53.125rem) {
  main .testimonials__view .testimonials-wrapper .testimonial__content {
    font-size: 1.35rem;
  }
}

@media screen and (max-width: 40.625rem) {
  main .testimonials__view .testimonials-wrapper .testimonial__content {
    font-size: 1.215rem;
    text-align: center;
    margin-bottom: 1.5625rem;
  }
}

main .testimonials__view .testimonials-wrapper .testimonial__profile {
  float: left;
}

@media screen and (max-width: 40.625rem) {
  main .testimonials__view .testimonials-wrapper .testimonial__profile {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5625rem;
  }
}

main .testimonials__view .testimonials-wrapper .testimonial__profile__name, main .testimonials__view .testimonials-wrapper .testimonial__profile__desc {
  font-size: 1.375rem;
  font-weight: 600;
}

@media screen and (max-width: 53.125rem) {
  main .testimonials__view .testimonials-wrapper .testimonial__profile__name, main .testimonials__view .testimonials-wrapper .testimonial__profile__desc {
    font-size: 1.2375rem;
  }
}

@media screen and (max-width: 40.625rem) {
  main .testimonials__view .testimonials-wrapper .testimonial__profile__name, main .testimonials__view .testimonials-wrapper .testimonial__profile__desc {
    font-size: 1.11375rem;
  }
}

main #contact-us {
  background: url("../assets/imgs/contact-section-bg.png");
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

@media screen and (max-width: 520px) {
  main #contact-us {
    background-size: auto 100%;
    background-color: rgba(0, 0, 0, 0.825);
    background-attachment: unset;
  }
}

main #contact-us .contact-box {
  border-radius: 10px !important;
  background-color: rgba(33, 37, 41, 0.7);
  -webkit-box-shadow: 0px 0px 8px white;
          box-shadow: 0px 0px 8px white;
  max-width: 750px !important;
}

main #contact-us .contact-box .contact-bar {
  border-radius: 10px !important;
  background: rgba(149, 155, 160, 0.1) !important;
}

@media screen and (max-width: 533px) {
  main #contact-us .contact-box .contact-bar .desktop-show {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  main #contact-us .contact-box .contact-form form button {
    background-color: #fff !important;
  }
}
/*# sourceMappingURL=style.css.map */